body {
    background-image:radial-gradient(50% 50% at 50% 50%, #8e8585, #0c5b5e);
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    display: grid;
    place-items: center;
    font-family: Candara, sans-serif;
}
header {
    margin: 2rem 0;
}
button {
    cursor: pointer;
    background-color: #dbcbcb;
    border: solid 2px #00000037;
    border-radius: 10px;
    transform: scale(1.2);
}
button:hover {
    background-color: #ffffff;
}
input {
    border: 2px solid #020702;
    border-radius: 5px;
}
input:focus {
    outline: none;
    border: 2px solid #020702;
}
input:hover[type="text"], input:hover[type="password"], input:hover[type="email"] {
    box-shadow: 3px 5px 3px #91b692;
    transition: 0.3s all;
}
#zona-juego { /* Proviene de Juego.jsx */
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* columna izq. vacía | rosco | columna der. con la tabla */
    align-items: start;
    gap: 40px;
}