body {
    background-color: #4a57e2d6;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    display: grid;
    place-items: center;
    font-family: Candara, sans-serif;
}
header {
    margin: 2rem 0;
}
button {
    cursor: pointer;
    border: solid 2px #00000037;
    border-radius: 10px;
    transform: scale(1.2);
}
button:hover {
    background-color: #fef4f4;
}