* {
    margin: 0;
    padding: 0;
}
h1 {
    display: flex;
    padding-top: 2rem;
    justify-content: center;
}
label {
    margin-right: 1rem;
}
button {
    margin-left: 1rem;
    margin: 6px;
    cursor: pointer;
}
#bienvenida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 4rem;
}
#ir_gestion {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}
#button_gestionar {
    background-color: papayawhip;
}
#button_gestionar:hover {
    opacity: 0.8;
}
table, td, th {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    margin: 7px;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-image: linear-gradient(180deg, #e8e0af, #527e71);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
}
section {
    /* border: 2px solid red; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
article {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
}
#ingreso {
    background-color: rgb(2, 71, 81);
    width: 23%;
    height: 25%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    padding: 0;
    border-radius: 15px;
    box-shadow: 0px 2px 20px black;
    transition: transform 0.7s ease;
}
#ingreso:hover {
    transform: scale(1.05);
}