* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    display: flex;
    padding-top: 2rem;
    justify-content: center;
}
h2 {
    margin-bottom: 1rem;
}
section {
    border: 2px solid green;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}
#catalogo {
    /* border: 2px solid red; */
    display: contents;
    justify-content: center;
    text-align: center;
    align-items: center;
}
div {
    border: 2px solid yellow;
    padding: 1rem 4rem;
}
img {
    width: 10vw;
    height: 20vh;
    padding-bottom: 2rem;
}
label {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px;
}
button {
    padding: 0.1rem 0.2rem;
    margin-top: 2rem;
}
#carrito {
    /* border: 3px solid black; */
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
table {
    border: 1px solid red;
    border-collapse: collapse;
    align-items: center;
    justify-content: center;
    text-align: center;
}
th {
    padding: 0 2rem;
    border: 2px solid red;
}
td {
    border: 2px solid black;
}
/* moneda y span utilizado para el: $, y el: valor, del Importe en la tabla */
#moneda {
    display: contents;
}
span {
    display: contents;
}
b {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}