.rosco-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    min-width: 500px;
}

.rosco-circulo {
    position: relative;
    width: 450px;
    height: 450px;
    /* aspect-ratio: 1/1; */
    border-radius: 50%;
}

.rosco-letra {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -20px;
    margin-left: -20px;
    background-color: #0056b3;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    border: 2px solid white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
#boton-jugar {
    /* para dejarlo en medio del rosco */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    /* */
    border-radius: 50%;
    padding: 30px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
}
#boton-jugar:hover {
    background-color: #119513;
    color: white;
    transition: all 0.2s ease-in-out;
}
#tiempo {
    position: absolute;
    top: 13%;
    left: 46%;
}
#controles-juego {
    display: grid;
    place-items: center;
    margin-top: -25px;
}
.botones-juego {
    font-size: 12px;
    margin: 5px 10px;
    background-color: #42b6f4;
    border-radius: 10%;
}
#texto-definicion {
    position: absolute;
    font-size: 1.2rem;
    width: 50%;
    top: 27%;
    left: 24%;
}
#palabra-relacion {
    position: absolute;
    font-size: 1.2rem;
    width: 50%;
    top: 20%;
    left: 24%;
}
#caja-ayuda {
    position: absolute;
    font-size: 1.2rem;
    width: 50%;
    top: 63%;
    left: 24%;
}